<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
        
</head>

<body>
    <nav class="navbar" style="background-color: #f2c6a7;">
        <div class="container">
            <ul class="nav navbar">
                <li><img src="{% static 'images/devil.png' %}" height="100px" style="border-radius:50% ;" alt=""></li>
                <li><a class="nav-link" href="{% url 'index' %}" style="color: red;">Home</a></li>
                <li><a class="nav-link" href="{% url 'urlapp:other' %}" style="color: rgb(96, 12, 241);">Other</a></li>
                <li><a class="nav-link" href="{% url 'urlapp:relative' %}" style="color:white;">Relative</a></li>
                <li><a class="nav-link" href="{% url 'admin:index' %}" style="color: black ;">Admin</a></li> 
                <li><a class="nav-link" href="{% url 'urlapp:contact' %}" style="color: rgb(10, 157, 254);">Contact</a></li> 

            </ul>

        </div>
    </nav>

    {% block content %}

    {% endblock %}

</body>

</html>