<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <style>
       *{
        background-image: url(static/images/photo.jpg);
       }
    </style> -->


</head>

<body style="background-image:url(static/images/photo.jpg)" align="center" >
    <!-- <center> -->
   <form action="" method="POST">
    {% csrf_token %}
    <h1>Employee Details</h1>
    <h1>{{fm.as_p}}</h1>
    <input type="button" name="submit" value="submit">
    <input type="reset" value="reset">

   </form>

</body>

</html>