<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <style>
        td{
            text-align: center;
            background:rgb(171, 123, 123);
        }
        table{
            border-color: darkslategray;
        }
    </style>
</head>

<body> 
    <center>

       <div>
        <img src="{% static 'images/jspider.png'%}" height="100px" width="260px" alt="jspider">
        <img src="{% static 'images/pyspider.jpg'%}" height="100px" width="260px" alt="">
       </div>

      

        <table border=" 2px " cellpadding="8px " align="center">
            <tr >
                <th>Name</th>
                <th>PhoneNo</th>
                <th>Branch</th>
                <th>YOP</th>
                <th>Score</th>
                <th>Skill</th>
                <th>MockRating</th>

            </tr>
            {% for data in students %}
            <tr >
                <td>{{data.name}}</td>
                <td>{{data.PhoneNo}}</td>
                <td>{{data.branch}}</td>
                <td>{{data.yop}}</td>
                <td>{{data.score}}</td>
                <td>{{data.skill}}</td>
                <td>{{data.mock}}</td>
            </tr>
            {% endfor %}

        </table><br>

        <button ><a href="java "><img src="{% static 'images/java.png' %}" height="60px" width="150px" alt=""></a></button>
        <button ><a href="python"> <img src="{% static 'images/py.png' %}" height="60px" width="150px" alt=""></a</button>>
    </center>
</body>

</html>